@use 'CellSpacing';

.cell {
    clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
    width: CellSpacing.$cellWidth;
    height: CellSpacing.$cellHeight;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.cellSolidWall {
    background-color: #666;
}

.cellUndergroundSpace {
    background-color: #ccc;
}

.cellOutdoorSpace {
    background-color: #fff;
}

.antRed {
    color: red;
}

.antBlue {
    color: blue;
}