@use 'CellSpacing';
@use 'src/utils/layout';

.cell {
    @include layout.flexCenter(wrap);
    clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
    width: CellSpacing.$cellWidth;
    height: CellSpacing.$cellHeight;
    background-color: grey;
}

.cellSolidWall {
    background-color: #666;
}

.cellUndergroundSpace {
    background-color: #ccc;
}

.cellOutdoorSpace {
    background-color: #fff;
}
