@use 'CellSpacing';
@use 'src/utils/layout';

.root {
    @include layout.flexCenter;
    overflow: hidden;
    padding: 0.5rem;
    user-select: none;
    background-color: #333;
}

.cells {
    display: grid;
    margin: 0;
    padding: 0;
    grid-gap: CellSpacing.$gapSize (2 * CellSpacing.$gapSize);
}
