.food {
    color: #090;
}

.food--1 {
    font-size: 1em;
}

.food--2 {
    font-size: 1.1em;
}

.food--3 {
    font-size: 1.2em;
}

.food--4 {
    font-size: 1.3em;
}

.food--5 {
    font-size: 1.4em;
}

.food--6 {
    font-size: 1.5em;
}

.food--7 {
    font-size: 1.6em;
}

.food--8 {
    font-size: 1.7em;
}

.food--9 {
    font-size: 1.8em;
}

.food--10 {
    font-size: 1.9em;
}